---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Service from "./cards/Service.astro";
import { services } from "../utils/data.ts";
import Title from "../shared/Title.astro";

type ServicesProps = {
    title: string;
    description: string;
    icon: string;
    link?: boolean;
    linkUrl?: string;
};
---

<section id="services" class=" bg-white pt-5">
    <Container className="space-y-10 md:sapce-y-12 ">
      <div class="text-center max-w-3xl mx-auto space-y-4 " id="container">
        <h2 class="text-3xl/tight sm:text-3xl/tight xl:text-5xl/tight text-darker-text leading-7 t">Nuestros servicios
        </h2>
        <Paragraph> Todo lo que necesitas para tu amigo de cuatro patas, en un solo lugar. </Paragraph>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
        {services.map((service: ServicesProps) => {
          return (
            <Service
              title={service.title}
              description={service.description}
              icon={service.icon}
              link={service.link}
              linkUrl={service.linkUrl}
            >
            </Service>
          );
        })}
      </div>
    </Container>
    <div class="bg-transparent w-max" id="spacer"></div>
  </section>
<style>
    #spacer {
        height: 180px;
    }    
</style>